.checkbox {
  display: none;
}

.toogle {
  position: relative;
  height: 30px;
  width: 56px;
  border-radius: 19px;
  background-color: rgb(156, 156, 156);
  display: block;
}

.toogle::before {
  cursor: pointer;
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  background-color: var(--main-color);
  box-shadow: 0 0 0 3px #fff;
  border-radius: 25px;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
  transition: all 350ms ease-out;
}

.checkbox:checked + .toogle::before {
  left: 70%;
}
